In [42]:
import numpy as  np  # linear algebra# linea 
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
from matplotlib.patches import Circle, Rectangle, Arc

In [43]:
# df = pd.read_csv('data.csv')
# test = pd.read_csv('test_data.csv')
train = pd.read_csv('Kobe/training_data.csv')

In [44]:
train_numbers = train.drop(['game_date','shot_zone_range','shot_zone_area','season','opponent','Home_vs_Away','lat','lon','period','playoffs','shot_type','shot_zone_basic','shot_id', 'total_seconds_remaining'], axis=1)

In [45]:
action_columns = pd.get_dummies(train_numbers['action_type'],prefix = "action")
train_numbers = pd.concat([train_numbers, action_columns], axis=1)
train_numbers.drop('action_type', axis=1, inplace=True)

In [46]:
# action_columns = pd.get_dummies(train_numbers['game_date'],prefix = "action")
# train_numbers = pd.concat([train_numbers, action_columns], axis=1)
# train_numbers.drop('game_date', axis=1, inplace=True)

In [47]:
train_numbers.drop(['action_Cutting Layup Shot','action_Driving Floating Bank Jump Shot',
           'action_Hook Bank Shot','action_Putback Slam Dunk Shot','action_Running Finger Roll Shot',
           'action_Running Slam Dunk Shot','action_Tip Layup Shot','action_Turnaround Finger Roll Shot'],axis=1,inplace =True)

In [48]:
X = train_numbers.drop('shot_made_flag', axis=1)
y = train_numbers['shot_made_flag']

In [49]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y, shuffle=True)

In [50]:
from sklearn.ensemble import RandomForestClassifier
clsf = RandomForestClassifier(n_estimators=50, max_features='sqrt')
clsf = clsf.fit(X_train, y_train)

In [51]:
clsf.score(X_test, y_test)

0.63128404669260696

In [52]:
features = pd.DataFrame()
features['feature'] = X_train.columns
features['importance'] = clsf.feature_importances_
features.sort_values(by=['importance'], ascending=False, inplace=True)
features.head(10)

                        feature  importance
0                         loc_x    0.401759
1                         loc_y    0.353438
2                 shot_distance    0.092299
25             action_Jump Shot    0.062098
26            action_Layup Shot    0.022589
12    action_Driving Layup Shot    0.008749
43        action_Slam Dunk Shot    0.007378
38     action_Running Jump Shot    0.007021
6      action_Driving Dunk Shot    0.006563
49  action_Turnaround Jump Shot    0.003818

In [53]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [54]:
classifier.score(X_test, y_test)

0.68264591439688715

In [55]:
shots_test = pd.read_csv('Kobe/test_data.csv')

In [56]:
shots_test.drop(['game_date','shot_zone_range','shot_zone_area','season','opponent','Home_vs_Away','lat','lon','period','playoffs','shot_type','shot_zone_basic','shot_id', 'total_seconds_remaining'], axis=1,inplace=True)

In [57]:
shots_test.head()

          action_type  loc_x  loc_y  shot_distance  shot_made_flag
0           Jump Shot    167     72             18             NaN
1           Jump Shot      1     28              2             NaN
2  Driving Layup Shot      0      0              0             NaN
3  Driving Layup Shot      0      0              0             NaN
4           Jump Shot    163     76             17             NaN

In [58]:
action_columns = pd.get_dummies(shots_test['action_type'],prefix = "action")
shots_test = pd.concat([shots_test, action_columns], axis=1)
shots_test.drop('action_type', axis=1, inplace=True)
shots_test.head()

,loc_x,loc_y,shot_distance,shot_made_flag,action_Alley Oop Dunk Shot,action_Alley Oop Layup shot,action_Cutting Finger Roll Layup Shot,action_Driving Bank shot,action_Driving Dunk Shot,action_Driving Finger Roll Layup Shot,...,action_Running Reverse Layup Shot,action_Running Tip Shot,action_Slam Dunk Shot,action_Step Back Jump shot,action_Tip Shot,action_Turnaround Bank shot,action_Turnaround Fadeaway Bank Jump Shot,action_Turnaround Fadeaway shot,action_Turnaround Hook Shot,action_Turnaround Jump Shot
0,167,72,18,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,28,2,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,163,76,17,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [59]:
# action_columns = pd.get_dummies(shots_test['game_date'],prefix = "action")
# shots_test = pd.concat([shots_test, action_columns], axis=1)
# shots_test.drop('game_date', axis=1, inplace=True)

In [60]:
shots_test.drop('shot_made_flag',axis=1,inplace=True)
shots_test.drop('action_Cutting Finger Roll Layup Shot',axis=1,inplace=True)
shots_test.drop('action_Turnaround Fadeaway Bank Jump Shot',axis=1,inplace=True)
shots_test.head()

,loc_x,loc_y,shot_distance,action_Alley Oop Dunk Shot,action_Alley Oop Layup shot,action_Driving Bank shot,action_Driving Dunk Shot,action_Driving Finger Roll Layup Shot,action_Driving Finger Roll Shot,action_Driving Floating Jump Shot,...,action_Running Pull-Up Jump Shot,action_Running Reverse Layup Shot,action_Running Tip Shot,action_Slam Dunk Shot,action_Step Back Jump shot,action_Tip Shot,action_Turnaround Bank shot,action_Turnaround Fadeaway shot,action_Turnaround Hook Shot,action_Turnaround Jump Shot
0,167,72,18,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,28,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,163,76,17,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [61]:
output = clsf.predict_proba(shots_test).astype(float)

In [62]:
dummy=pd.read_csv('Kobe/test_data.csv')
submission=pd.DataFrame()
submission['shot_id']=dummy['shot_id']
submission.head()

   shot_id
0        1
1        8
2       17
3       20
4       33

In [63]:
submission['shot_made_flag']=0

In [64]:
lists = []
for result in output:
    lists.append(result[0])

In [65]:
submission['shot_made_flag'] = lists

In [66]:
submission.tail()

      shot_id  shot_made_flag
4995    30669        0.640000
4996    30681        0.669351
4997    30683        0.860000
4998    30687        0.520000
4999    30694        0.669351

In [67]:
submission.to_csv('random_forest_test.csv',index=False)

In [68]:
output = classifier.predict_proba(shots_test).astype(float)

In [69]:
dummy=pd.read_csv('Kobe/test_data.csv')
submission=pd.DataFrame()
submission['shot_id']=dummy['shot_id']
submission.head()

   shot_id
0        1
1        8
2       17
3       20
4       33

In [70]:
submission['shot_made_flag']=0

In [71]:
lists = []
for result in output:
    lists.append(result[0])

In [72]:
submission['shot_made_flag'] = lists

In [73]:
submission.tail()

      shot_id  shot_made_flag
4995    30669        0.669603
4996    30681        0.603780
4997    30683        0.264242
4998    30687        0.257550
4999    30694        0.603780

In [74]:
submission.to_csv('logistic_regression_test.csv',index=False)